#main2
{
    height: 800px;
    width:100%;

}
#con2
{
    height:800px;
    width:900px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    border:5px,solid,green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}


#data1,#data2,#data3,#data4
{
    height: 40px;
    text-align: center;
    width: 300px;
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    border-radius: 10px;
}
#p
{
    font-size: 30px;
    font-weight: 800;
    text-transform: capitalize;
    color: black;

}
#img
{
    height:250px ;
    width: 800px;
    border: 3px,solid,black;

}
#img1
{
    height:250px ;
    width: 800px;
    
}


@media(min-width:300px) and (max-width:360px)
{
#main2
{
    height: 1000px;
    width:100%;

}
#con2
{
    height:600px;
    width:280px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    border:5px,solid,green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}


#data1,#data2,#data3,#data4
{
    height: 35px;
    text-align: center;
    width: 100px;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 10px;
}
#p
{
    font-size: 15px;
    font-weight: 800;
    text-transform: capitalize;
    color: black;

}
#img
{
    height:130px ;
    width: 240px;
    border: 3px,solid,black;

}
#img1
{
    height:130px;
    width: 240px;
    
}
}






@media(min-width:365px) and (max-width:400px)
{
#main2
{
    height: 1000px;
    width:100%;

}
#con2
{
    height:600px;
    width:340px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    border:5px,solid,green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}


#data1,#data2,#data3,#data4
{
    height: 40px;
    text-align: center;
    width: 100px;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 10px;
}
#p
{
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
    color: black;

}
#img
{
    height:200px ;
    width: 300px;
    border: 3px,solid,black;

}
#img1
{
    height:200px ;
    width: 300px;
    
}
}




@media(min-width:400px) and (max-width:500px)
{
#main2
{
    height: 1100px;
    width:100%;

}
#con2
{
    height:600px;
    width:350px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    border:5px,solid,green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}


#data1,#data2,#data3,#data4
{
    height: 40px;
    text-align: center;
    width: 100px;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 10px;
}
#p
{
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
    color: black;

}
#img
{
    height:200px ;
    width: 300px;
    border: 3px,solid,black;

}
#img1
{
    height:200px ;
    width: 300px;
    
}
}

@media(min-width:500px) and (max-width:700px)
{
#main2
{
    height: 1100px;
    width:100%;

}
#con2
{
    height:650px;
    width:480px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    border:5px,solid,green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}


#data1,#data2,#data3,#data4
{
    height: 45px;
    text-align: center;
    width: 100px;
    color: black;
    font-size: 23px;
    text-transform: capitalize;
    border-radius: 10px;
}
#p
{
    font-size: 25px;
    font-weight: 800;
    text-transform: capitalize;
    color: black;

}
#img
{
    height:200px ;
    width: 300px;
    border: 3px,solid,black;

}
#img1
{
    height:200px ;
    width: 300px;
    
}
}


@media(min-width:700px) and (max-width:900px)
{
#main2
{
    height: 1500px;
    width:100%;

}
#con2
{
    height:650px;
    width:580px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    border:5px,solid,green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}


#data1,#data2,#data3,#data4
{
    height: 45px;
    text-align: center;
    width: 250px;
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    border-radius: 10px;
}
#p
{
    font-size: 25px;
    font-weight: 800;
    text-transform: capitalize;
    color: black;

}
#img
{
    height:300px ;
    width: 500px;
    border: 3px,solid,black;

}
#img1
{
    height:200px ;
    width: 500px;
    
}
}

